.input-div {
    padding: .5rem;
    margin-top: .5rem;
}

.btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.add-task-box {
    background-color: #474747;
    margin-top: .5rem;
}