<p-card class="card-box">
    <ng-template #header>
        <p-image src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" alt="Image" width="250"
            class="p-image-mask" />
    </ng-template>
    <ng-template #title> {{selectedUser.name}} </ng-template>
    <ng-template #subtitle> {{selectedUser.designation}} </ng-template>
    <ul class="user-other-info">
        <li>Email : {{selectedUser.email}}</li>
        <li>Mobile : {{selectedUser.mobile}}</li>
        <li>Date Of Birth : {{selectedUser.dob}}</li>
        <li>Address : {{selectedUser.address.street}}, {{selectedUser.address.city}}, {{selectedUser.address.city}} -
            {{selectedUser.address.postalCode}}</li>
        <li>Email : {{selectedUser.email}}</li>
    </ul>
    <p-divider />
    <p-button (onClick)="showAddNewTask = true" label="Add New Task" />
    @if (showAddNewTask) {
    <p-card header="New Task">
        <app-add-new-task (cancelled)="cancelAddNewTask()" (submitted)="onFormSubmit($event)"
            [userId]="selectedUser.id" />
    </p-card>
    }
    @else {
    <p-card header="Tasks">
        @for (task of selectedUserTasks ; track $index) {
        <p-card class="task-box">
            <ng-template #title>
                <div class="title-section">
                    <h3>{{task.title}}</h3> <p-tag class="no-bg status-section" [rounded]="false" [value]="task.status"
                        [severity]="getSeverity(task.status)" />
                </div>
            </ng-template>
            <ng-template #subtitle>Due on {{task.dueDate | date }}</ng-template>
            <ng-template #content>{{task.description}}</ng-template>
            <ng-template #footer>
                <div class="cta-section">
                    <p-menu [id]="task.id?.toString()" #menu [model]="getMenuItems(task.id)" [popup]="true" />
                    <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
                </div>
            </ng-template>
        </p-card>
        }
    </p-card>
    }
</p-card>