.card-box {
    width: 100%;
    padding: .5rem;
}

.task-box {

    background-color: #474747;
    margin-top: .5rem;
    position: relative;

    .cta-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .status-section {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.no-bg {
    background: none;
}

.user-other-info {
    list-style: none;
    padding: 0;

    li {
        padding: .250rem 0;
        margin-top: .250rem;
    }
}