.card-box {
    width: 100%;
    padding: .5rem;
}

.task-box {

    background-color: #474747;
    margin-top: .5rem;

    .cta-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .title-section {
        display: flex;
        justify-content: space-between;
        h3{
            padding: 0;
            margin: 0;
        }
    }

}

.no-bg {
    background: none;
}

.user-other-info {
    list-style: none;
    padding: 0;

    li {
        padding: .250rem 0;
        margin-top: .250rem;
    }
}